:root {
  --white-color: #fff;
  --button-hover: #f7f4ef;
  --primary-color: #5a6e7f; }

.swiper-custom-slider-holder {
  overflow: hidden; }
  .swiper-custom-slider-holder .swiper-wrapper {
    overflow: visible !important; }
  .swiper-custom-slider-holder .swiper-button-next,
  .swiper-custom-slider-holder .swiper-button-prev {
    color: var(--white-color); }
    @media (max-width: 767px) {
      .swiper-custom-slider-holder .swiper-button-next:after,
      .swiper-custom-slider-holder .swiper-button-prev:after {
        font-size: 20px; } }
  .swiper-custom-slider-holder .swiper-button-next:after {
    content: "next" !important; }
  @media (max-width: 767px) {
    .swiper-custom-slider-holder .swiper-button-next {
      right: -15px !important; } }
  .swiper-custom-slider-holder .swiper-button-prev:after {
    content: "prev" !important; }
  @media (max-width: 767px) {
    .swiper-custom-slider-holder .swiper-button-prev {
      left: -15px !important; } }
  .swiper-custom-slider-holder .swiper-slide {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100vh;
    align-items: center;
    display: flex; }
    .swiper-custom-slider-holder .swiper-slide .bg-image {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
      .swiper-custom-slider-holder .swiper-slide .bg-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .swiper-custom-slider-holder .swiper-slide .bg-image:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0; }
    .swiper-custom-slider-holder .swiper-slide .inner {
      position: relative;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      color: var(--white-color);
      font-size: 22px; }
      .swiper-custom-slider-holder .swiper-slide .inner > div:not(:last-child) {
        margin-bottom: 40px; }
      .swiper-custom-slider-holder .swiper-slide .inner h3 {
        color: var(--white-color); }
      @media (max-width: 767px) {
        .swiper-custom-slider-holder .swiper-slide .inner {
          padding-left: 45px;
          padding-right: 45px; } }

.button-custom.button-custom.button-custom a {
  border-radius: 0;
  background-color: #f7f4ef21;
  border: 2px solid var(--white-color);
  font-size: 18px;
  letter-spacing: 0.32px;
  color: var(--white-color);
  font-weight: bold; }
  .button-custom.button-custom.button-custom a:hover {
    background-color: var(--button-hover);
    color: var(--primary-color); }
  @media (max-width: 767px) {
    .button-custom.button-custom.button-custom a {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 767px) {
    .button-custom.button-custom.button-custom a:not(:hover) {
      background-color: #f7f4ef8c;
      color: var(--white-color); } }

.step-slider > div {
  overflow: hidden; }
.step-slider .swiper-wrapper {
  overflow: visible !important; }
.step-slider .thumb-slider-holder {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 18px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
  .step-slider .thumb-slider-holder .swiper-slide {
    cursor: pointer;
    width: auto; }
    .step-slider .thumb-slider-holder .swiper-slide.swiper-slide-thumb-active .inner {
      opacity: 1;
      font-size: 22px;
      text-decoration: underline; }
  .step-slider .thumb-slider-holder .thumb-slider-inner {
    display: flex;
    gap: 40px; }
    .step-slider .thumb-slider-holder .thumb-slider-inner > div {
      flex: 0 0 auto;
      width: calc(50% - 20px); }
    .step-slider .thumb-slider-holder .thumb-slider-inner .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px; }
      .step-slider .thumb-slider-holder .thumb-slider-inner .left .outer {
        position: relative;
        overflow: hidden;
        width: auto; }
        .step-slider .thumb-slider-holder .thumb-slider-inner .left .outer .inner {
          overflow: 0.1;
          transition: 400ms;
          display: inline-block; }
      .step-slider .thumb-slider-holder .thumb-slider-inner .left .swiper-button-next, .step-slider .thumb-slider-holder .thumb-slider-inner .left .swiper-button-prev {
        position: static;
        transform: none; }
.step-slider .divider {
  width: 1px;
  height: 63px;
  display: block;
  margin: 50px auto;
  background-color: var(--primary-color);
  height: 70px; }
.step-slider .swiper-button-next,
.step-slider .swiper-container-rtl .swiper-button-prev {
  right: 0 !important; }
  .step-slider .swiper-button-next:after,
  .step-slider .swiper-container-rtl .swiper-button-prev:after {
    content: "next" !important;
    font-size: 20px; }
.step-slider .swiper-button-prev,
.step-slider .swiper-container-rtl .swiper-button-next {
  left: 0 !important; }
  .step-slider .swiper-button-prev:after,
  .step-slider .swiper-container-rtl .swiper-button-next:after {
    content: "prev" !important;
    font-size: 20px; }
.step-slider .swiper-button-prev,
.step-slider .swiper-button-next {
  width: 20px !important;
  height: 20px !important; }

/*# sourceMappingURL=custom-widget.css.map */
