:root {
    --white-color: #fff;
    --button-hover: #f7f4ef;
    --primary-color: #5a6e7f;
}
.swiper-custom-slider-holder {
    overflow: hidden;
    .swiper-wrapper {
        overflow: visible !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: var(--white-color);
        &:after {
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }
    }
    .swiper-button-next {
        &:after {
            content: "next" !important;
        }
        @media (max-width: 767px) {
            right: -15px !important;
        }
    }
    .swiper-button-prev {
        &:after {
            content: "prev" !important;
        }
        @media (max-width: 767px) {
            left: -15px !important;
        }
    }
    .swiper-slide {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        min-height: 100vh;
        align-items: center;
        display: flex;
        .bg-image {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:before {
                content: "";
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
        .inner {
            position: relative;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            color: var(--white-color);
            font-size: 22px;
            > div {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }

            h3 {
                color: var(--white-color);
            }
            @media (max-width: 767px) {
                padding-left: 45px;
                padding-right: 45px;
            }
        }
    }
}

.button-custom.button-custom.button-custom {
    a {
        border-radius: 0;
        background-color: #f7f4ef21;
        border: 2px solid var(--white-color);
        font-size: 18px;
        letter-spacing: 0.32px;
        color: var(--white-color);
        font-weight: bold;
        &:hover {
            background-color: var(--button-hover);
            color: var(--primary-color);
        }
        @media (max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }
        &:not(:hover) {
            @media (max-width: 767px) {
                background-color: #f7f4ef8c;
                color: var(--white-color);
            }
        }
    }
}

.step-slider {
    > div {
        overflow: hidden;
    }
    .swiper-wrapper {
        overflow: visible !important;
    }
    .thumb-slider-holder {
        max-width: 1430px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Cormorant Garamond", sans-serif;
        font-size: 18px;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;

        .swiper-slide {
            cursor: pointer;
            width: auto;
            width: auto !important;
            &.swiper-slide-thumb-active {
                .inner {
                    .slide-progress {
                        width: 60px !important;
                    }
                }
            }
        }

        .thumb-slider-inner {
            display: flex;
            gap: 40px;
            > div {
                flex: 0 0 auto;
                width: calc(50% - 20px);
            }
            .left {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                .outer {
                    position: relative;
                    overflow: hidden;
                    width: auto;
                    .swiper {
                        width: 200px;
                    }
                    .inner {
                        transition: 400ms;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        font-size: 20px;
                        color: #5a6e7f;
                        .slide-progress {
                            width: 0;
                            height: 5px;
                            display: block;
                            transition: 400ms;
                        }
                    }
                }

                .swiper-button-next,
                .swiper-button-prev {
                    position: static;
                    transform: none;
                }
            }
        }
    }
    .divider {
        width: 1px;
        height: 63px;
        display: block;
        margin: 50px auto;
        background-color: var(--primary-color);
        height: 70px;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 0 !important;
        &:after {
            content: "next" !important;
            font-size: 20px;
        }
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 0 !important;
        &:after {
            content: "prev" !important;
            font-size: 20px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 20px !important;
        height: 20px !important;
    }
}

.slide-progress {
    transition: 300ms;
    position: relative;
    background-color: #e3e1dd;
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        width: 0;
    }

    &.animate {
        &:before {
            animation-name: width;
            animation-duration: 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

/* Animation Keyframes*/
@keyframes width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
